.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.terminal {
    background-color: black;
    color: rgb(48, 200, 221);
    font-family: monospace;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

#input-line {
    display: flex;
}

#input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
    font-family: monospace;
    outline: none;
}

#input:focus {
    outline: none;
}
